<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>382084781812-9ctk5gt2fnb6nlbvpd8vk73lbvpacccq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.382084781812-9ctk5gt2fnb6nlbvpd8vk73lbvpacccq</string>
	<key>API_KEY</key>
	<string>AIzaSyDArIw_7F7CH3q8wl7W9P9S9iyPVy6mLPs</string>
	<key>GCM_SENDER_ID</key>
	<string>382084781812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.whatsignals.start</string>
	<key>PROJECT_ID</key>
	<string>start-sonhos</string>
	<key>STORAGE_BUCKET</key>
	<string>start-sonhos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382084781812:ios:a132712cb16a56480bf0a1</string>
</dict>
</plist>