.notificacoes {
    &__solicitacoes {
        background: $white;
        box-shadow: 0 10px 32px rgba(0, 0, 0, .1);
        border-radius: 20px;
        padding: 32px 24px;
        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            h3 {
                font: 400 15px/1 $openSans;
                margin: 0 0 32px 0;
            }
            button {
                border: unset;
                background: unset;
                transform: translateY(-50%) rotate(90deg);
            }
        }
        ul {
            padding: 0;
            margin: 0;
            li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                &:not(:last-child) {
                    margin: 0 0 16px 0;
                }
                aside {
                    display: flex;
                    align-items: center;
                    figure {
                        margin: 0 16px 0 0;
                        width: 50px;
                        height: 50px;
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img {
                            width: 100%;
                        }
                    }
                    div {
                        h3 {
                            font: 400 15px/1.2 $openSans;
                            margin: 0 0 6px 0;
                        }
                        h5 {
                            color: #858997;
                            font: 400 13px/1 $openSans;
                        }
                    }
                    button {
                        padding: 0;
                        margin: 0 0 0 8px;
                        border: unset;
                        background: unset;
                        width: 32px;
                        height: 32px;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}