.perfil {
    &__header {
        margin: 0 0 32px 0;
        figure {
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            border-radius: 1000px;
            width: 88px;
            height: 88px;
            margin: 0 auto 20px auto;
            img {
                width: 100%;
            }
        }
        h1 {
            font: 800 20px/1 $openSans;
            text-align: center;
        }
        h4 {
            font: 400 15px/1 $openSans;
            opacity: .32;
            text-align: center;
        }
        p {
            margin: 12px 0 28px 0;
            font: 300 12px/1.5 $openSans;
            text-align: center;
        }
        button {
            border: 1px solid $black;
            display: block;
            text-transform: uppercase;
            border-radius: 4px;
            padding: 12px 56px;
            text-align: center;
            background: unset;
            font: 700 14px/1 $openSans;
            margin: 0 auto 34px auto;
        }
    }
    &__conquistas {
        overflow-x: auto;
        display: flex;
        &::-webkit-scrollbar,
        &::-webkit-scrollbar-track,
        &::-webkit-scrollbar-thumb {
            opacity: 0;
            visibility: hidden;
        }
    }
}