@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;700&display=swap");
.artigo__header {
  -webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.08);
          box-shadow: 0 6px 6px rgba(0, 0, 0, 0.08);
  padding: 0 0 32px 0;
}

.artigo__header h1 {
  margin: 12px 0 0 0;
  font: 600 19px/1.4 "Open sans", sans-serif;
  color: #464657;
}

.artigo__content {
  font-size: 1rem;
}

.artigo__content.plus p {
  font-size: 1.3rem;
}

.artigo__content .actions-bar {
  margin: 32px 0;
}

.artigo__content p {
  font: 300 0.8em/1.4 "Open sans", sans-serif;
}

.artigo__content p:not(:last-child) {
  margin: 0 0 16px 0;
}

.artigo .audio-player {
  margin: 32px 0 0 0;
}

.curso__header {
  -webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.08);
          box-shadow: 0 6px 6px rgba(0, 0, 0, 0.08);
  padding: 0 0 8px 0;
}

.curso__header h1 {
  margin: 12px 0 8px 0;
  font: 600 18px/1.4 "Open sans", sans-serif;
  color: #464657;
}

.curso__header p {
  font: 300 13px/1.4 "Open sans", sans-serif;
}

.curso .exp {
  margin: 40px 0 0 0;
}

.curso__bar {
  position: fixed;
  bottom: 54px;
  padding: 16px 24px;
  left: 0;
  width: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.curso .actions-bar {
  margin: 24px 0 0 0;
}

.curso.ja-matriculado .progress-line {
  margin: 24px 0;
}

.perfil__header {
  margin: 0 0 32px 0;
}

.perfil__header figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  border-radius: 1000px;
  width: 88px;
  height: 88px;
  margin: 0 auto 20px auto;
}

.perfil__header figure img {
  width: 100%;
}

.perfil__header h1 {
  font: 800 20px/1 "Open sans", sans-serif;
  text-align: center;
}

.perfil__header h4 {
  font: 400 15px/1 "Open sans", sans-serif;
  opacity: .32;
  text-align: center;
}

.perfil__header p {
  margin: 12px 0 28px 0;
  font: 300 12px/1.5 "Open sans", sans-serif;
  text-align: center;
}

.perfil__header button {
  border: 1px solid #363636;
  display: block;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 12px 56px;
  text-align: center;
  background: unset;
  font: 700 14px/1 "Open sans", sans-serif;
  margin: 0 auto 34px auto;
}

.perfil__conquistas {
  overflow-x: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.perfil__conquistas::-webkit-scrollbar, .perfil__conquistas::-webkit-scrollbar-track, .perfil__conquistas::-webkit-scrollbar-thumb {
  opacity: 0;
  visibility: hidden;
}

.criar-post .tabs {
  margin: 16px 0 0 0;
  -webkit-box-shadow: 0 10px 30px rgba(209, 213, 223, 0.5);
          box-shadow: 0 10px 30px rgba(209, 213, 223, 0.5);
  border-radius: 20px;
  margin: 0 0 40px 0;
}

.criar-post .tabs__header {
  padding: 0;
  border-bottom: 1px solid #EEEFF3;
  margin: 0;
}

.criar-post .tabs__header div {
  font: 500 14px/1 "Open sans", sans-serif;
  text-align: center;
  color: #858997;
  padding: 20px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.criar-post .tabs__header div::before {
  background: #0091EB;
  height: 1px;
}

.criar-post .tabs__header div.active {
  color: #0091EB;
}

.criar-post .tabs__content {
  padding: 28px 24px;
  height: 200px;
}

.criar-post .tabs__content textarea {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 100%;
  font: 500 16px/1.3 "Open sans", sans-serif;
  height: 100%;
  border: unset;
  outline: unset;
  resize: none;
  color: #858997;
}

.criar-post .tabs__content textarea::-webkit-input-placeholder {
  opacity: 1;
  color: #858997;
}

.criar-post .tabs__content textarea:-ms-input-placeholder {
  opacity: 1;
  color: #858997;
}

.criar-post .tabs__content textarea::-ms-input-placeholder {
  opacity: 1;
  color: #858997;
}

.criar-post .tabs__content textarea::placeholder {
  opacity: 1;
  color: #858997;
}

.criar-post .tabs__content h4 {
  text-align: center;
  margin: 0 0 24px 0;
  color: #858997;
  font: 500 16px/1 "Open sans", sans-serif;
}

.criar-post .tabs__content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.criar-post .tabs__content div button {
  background: unset;
  border: unset;
  margin: 0 24px;
}

.criar-post .tabs__content div button img {
  width: 48px;
  display: block;
  margin: 0 0 12px 0;
}

.criar-post .tabs__content div button span {
  color: #373A3C;
  font: 300 11px/1 "Open sans", sans-serif;
  display: block;
  text-align: center;
}

.notificacoes__solicitacoes {
  background: #FFFFFF;
  -webkit-box-shadow: 0 10px 32px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 32px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 32px 24px;
}

.notificacoes__solicitacoes__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.notificacoes__solicitacoes__header h3 {
  font: 400 15px/1 "Open sans", sans-serif;
  margin: 0 0 32px 0;
}

.notificacoes__solicitacoes__header button {
  border: unset;
  background: unset;
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
}

.notificacoes__solicitacoes ul {
  padding: 0;
  margin: 0;
}

.notificacoes__solicitacoes ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.notificacoes__solicitacoes ul li:not(:last-child) {
  margin: 0 0 16px 0;
}

.notificacoes__solicitacoes ul li aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notificacoes__solicitacoes ul li aside figure {
  margin: 0 16px 0 0;
  width: 50px;
  height: 50px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.notificacoes__solicitacoes ul li aside figure img {
  width: 100%;
}

.notificacoes__solicitacoes ul li aside div h3 {
  font: 400 15px/1.2 "Open sans", sans-serif;
  margin: 0 0 6px 0;
}

.notificacoes__solicitacoes ul li aside div h5 {
  color: #858997;
  font: 400 13px/1 "Open sans", sans-serif;
}

.notificacoes__solicitacoes ul li aside button {
  padding: 0;
  margin: 0 0 0 8px;
  border: unset;
  background: unset;
  width: 32px;
  height: 32px;
}

.notificacoes__solicitacoes ul li aside button img {
  width: 100%;
}

.produto__categoria {
  margin: 0 0 16px 0;
}

.produto__categoria__carrossel {
  overflow-x: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.produto__categoria__carrossel::-webkit-scrollbar, .produto__categoria__carrossel::-webkit-scrollbar-track, .produto__categoria__carrossel::-webkit-scrollbar-thumb {
  opacity: 0;
  visibility: hidden;
}

.produto .tabs__header {
  margin: 0 0 32px 0;
}

.produto .tabs__content {
  padding: 0;
}

.grupo__card {
  background-color: #FFFFFF;
  border-radius: 6px;
  -webkit-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.16);
          box-shadow: 0 4px 7px rgba(0, 0, 0, 0.16);
  padding: 32px 20px 20px 20px;
}

.grupo__card:not(:last-child) {
  margin: 0 0 24px 0;
}

.grupo__card figure {
  border-radius: 1000px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grupo__card figure img {
  width: 100%;
}

.grupo__card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grupo__card__header figure {
  min-width: 75px;
  height: 75px;
  margin: 0 22px 0 0;
  border: 2px solid #EFEFEF;
}

.grupo__card__header h2 {
  font: 700 19px/1.2 "Open sans", sans-serif;
  width: 100%;
  margin: 0;
}

.grupo__card__infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #C0C0C050;
  border-bottom: 1px solid #C0C0C050;
  padding: 16px 0;
  margin: 16px 0;
}

.grupo__card__infos aside h4 {
  color: #DCD222;
  margin: 0 0 2px 0;
  text-align: center;
  font-weight: 300;
}

.grupo__card__infos aside h5 {
  color: #DCD222;
  font: 600 12px/1 "Open sans", sans-serif;
  margin: 0 0 10px 0;
}

.grupo__card__infos aside h6 {
  margin: 0;
  font-size: 13px !important;
  text-align: center;
}

.grupo__card__infos aside div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grupo__card__infos aside div figure {
  width: 36px;
  height: 36px;
  margin: 0 12px 0 0;
}

.grupo__card__infos aside.membros {
  padding: 6px 16px;
  border: 2px solid #DCD222;
  border-radius: 4px;
  background: #2DCCD310;
}

.grupo__card button {
  background: #363636;
  color: #FFFFFF;
  font: 600 16px/1 "Open sans", sans-serif;
  border-radius: 4px;
  padding: 12px;
  border: unset;
  display: block;
  width: 100%;
  text-transform: uppercase;
}

.grupo-interno .tabs__header {
  margin: 0 0 32px 0;
  border-bottom: 1px solid #e7e7e7;
  padding: 0;
}

.grupo-interno .tabs__content {
  padding: 0;
}

.agenda__data {
  margin: 0 0 24px 0;
  font: 300 13px/1 "Open sans", sans-serif !important;
  letter-spacing: 1px;
}

@-webkit-keyframes lineAnimation {
  to {
    -webkit-transform: initial;
            transform: initial;
  }
}

@keyframes lineAnimation {
  to {
    -webkit-transform: initial;
            transform: initial;
  }
}

section#content {
  padding-bottom: 96px;
}

section#content.white {
  background: #FFFFFF !important;
}

section#content.white .busca input {
  background: #F9F9F9;
}

.top0 {
  padding-top: 0 !important;
}

.perfil-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.perfil-infos figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ebebeb;
  border-radius: 1000px;
  width: 40px;
  height: 40px;
  margin: 0 14px 0 0;
}

.perfil-infos figure img {
  overflow: hidden;
  width: 100%;
}

.perfil-infos div a {
  color: #363636;
  display: inline-block;
  margin: 0 0 6px 0;
  font: 500 13px/1 "Poppins", sans-serif;
}

.perfil-infos div h5 {
  font: 300 11px/1 "Open sans", sans-serif;
}

.actions-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.actions-bar button {
  border: unset;
  background: unset;
  margin: 0 16px 0 0;
  padding: 0;
}

.actions-bar button.active i {
  color: #DCD222;
}

.actions-bar button i {
  color: #B3BFC5;
  margin: 0 4px 0 0;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  font-size: 14px;
}

.actions-bar button span {
  font: 700 13px/1 "Open sans", sans-serif;
}

.actions-bar button[data-js="plus"] {
  background: #DCD222;
  color: #FFFFFF;
  padding: 8px;
  width: 32px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  font: 600 13px/1 "Open sans", sans-serif;
}

button[data-js="post"] {
  background: #DCD222;
  border-radius: 1000px;
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: unset;
  -webkit-box-shadow: 0 8px 12px rgba(141, 106, 66, 0.16);
          box-shadow: 0 8px 12px rgba(141, 106, 66, 0.16);
  position: fixed;
  bottom: 80px;
  right: 16px;
  z-index: 99;
}

button[data-js="post"]::before {
  content: url("../../../assets/images/plus.svg");
  display: block;
  width: 18px;
  height: 18px;
}

.audio-player {
  background: #363636;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  padding: 20px 14px 22px 14px;
  position: relative;
}

.audio-player button {
  position: relative;
  z-index: 5;
  border: unset;
  background: unset;
  margin: 0 12px 0 0;
}

.audio-player button i {
  font-size: 40px;
  color: #FFFFFF;
}

.audio-player div {
  position: relative;
  z-index: 5;
}

.audio-player div h3 {
  color: #FFFFFF;
  margin: 0 0 9px 0;
  font: 500 18px/1 "Poppins", sans-serif;
}

.audio-player div h5 {
  color: #FFFFFF;
  margin: 0;
  font: 300 11px/1 "Open sans", sans-serif;
}

.audio-player audio {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  z-index: 1;
}

.gameficacao {
  background: rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 99999;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 96px 24px 0 24px;
}

.gameficacao__card {
  width: 100%;
  border-radius: 10px;
  background: #FFFFFF;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  padding: 32px 20px;
  position: relative;
}

.gameficacao__card__exp {
  font-weight: 800;
  color: #67D359;
  position: absolute;
  top: 16px;
  font-family: "Rajdhani", sans-serif;
  right: -16px;
  background: #FFFFFF;
  -webkit-box-shadow: 3px 6px 20px rgba(0, 0, 0, 0.12);
          box-shadow: 3px 6px 20px rgba(0, 0, 0, 0.12);
  padding: 0 8px;
  border-radius: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gameficacao__card__exp span {
  font: 700 12px/1 "Rajdhani", sans-serif;
  color: #363636;
  display: block;
  margin: 0 0 0 6px;
}

.gameficacao__card__icon {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gameficacao__card__icon .mini {
  position: absolute;
  left: 0;
  top: 0;
  width: 32px;
}

.gameficacao__card__title {
  color: #3E3F5E;
  text-align: center;
  font-size: 19px;
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  margin: 20px 0;
}

.gameficacao__card__description {
  color: #3E3F5E;
  font: 400 14px/1.5 "Open sans", sans-serif;
  margin: 0 0 28px 0;
  text-align: center;
}

.gameficacao__card__progress {
  display: block;
  position: relative;
  height: 5px;
  background: #e4e4e4;
  border-radius: 100px;
  width: 100%;
  margin: 0 0 28px 0;
}

.gameficacao__card__progress span {
  position: absolute;
  top: 0;
  border-radius: 100px;
  left: 0;
  width: 64%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#615dfa), to(#41efff));
  background: linear-gradient(90deg, #615dfa 0%, #41efff 100%);
}

.gameficacao__card__status {
  font-weight: 600;
  font-family: "Rajdhani", sans-serif;
  text-transform: uppercase;
  color: #3E3F5E;
  text-align: center;
  font-size: 13px;
}
/*
.btn {
  border: unset;
  border-radius: 1000px;
  padding: 14px 16px;
  width: 100%;
  display: block;
  background: #DCD222;
  color: #FFFFFF;
  font: 600 14px/1 "Open sans", sans-serif;
}
*/

.progress-line.amarela span {
  background: #DCD222;
}

.progress-line h3 {
  font: 400 13px/1 "Open sans", sans-serif;
  text-align: center;
  margin: 0 0 4px 0;
}

.progress-line h3 strong {
  font-weight: 600;
}

.progress-line > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.progress-line > div div {
  display: block;
  background: #F0F0F0;
  width: 100%;
  height: 10px;
  border-radius: 1000px;
  position: relative;
  margin: 0 12px 0 0;
}

.progress-line > div div span {
  position: absolute;
  left: 0;
  display: block;
  top: 0;
  background: #0091EB;
  border-radius: 1000px;
  height: 100%;
}

.progress-line h5 {
  padding: 4px 0 0 0;
  font: 300 14px/1 "Open sans", sans-serif;
  color: #363636;
  opacity: .32;
}

.exp {
  padding: 0 0 64px 0;
}

.exp div {
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  padding: 0 16px;
}

.exp div:not(:last-child) {
  margin: 0 0 16px 0;
}

.exp div dt {
  padding: 16px 32px 16px 0;
  position: relative;
}

.exp div dt.active {
  border-bottom: 1px solid #e6e6e6;
}

.exp div dt.active::before {
  -webkit-transform: translateY(-50%) rotate(-180deg);
          transform: translateY(-50%) rotate(-180deg);
}

.exp div dt::before {
  content: url("../../images/curso/icon.png");
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.exp div dt h5 {
  font: 600 15px/1.2 "Open sans", sans-serif;
}

.exp div dt p {
  font: 300 13px/1.4 "Open sans", sans-serif;
  margin: 0;
}

.exp div dd {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.exp div dd.active {
  padding: 16px 0;
  max-height: 100rem;
}

.exp div dd p {
  font: 300 13px/1.4 "Open sans", sans-serif;
  margin: 0;
}

.tabs__header {
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  margin: 0 0 16px 0;
}

.tabs__header::-webkit-scrollbar, .tabs__header::-webkit-scrollbar-track, .tabs__header::-webkit-scrollbar-thumb {
  opacity: 0;
  visibility: hidden;
}

.tabs__header div {
  font: normal 13px/1 "Open sans", sans-serif;
  color: #373A3C;
  padding: 0 16px 16px 16px;
  text-align: center;
  opacity: .25;
  position: relative;
}

.tabs__header div::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 1000px;
  background: #DCD222;
  display: block;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.tabs__header div.active {
  opacity: 1;
}

.tabs__header div.active::before {
  opacity: 1;
  visibility: visible;
}

.tabs__content {
  display: none;
  padding: 0 16px;
}

.tabs__content.active {
  display: block;
}

.conquista {
  border-radius: 10px;
  width: 205px;
  padding: 24px 16px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.conquista:not(:last-child) {
  margin: 0 24px 0 0;
}

.conquista.escritor {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 175, 145, 0.2)), to(rgba(242, 242, 242, 0)));
  background: linear-gradient(-180deg, rgba(0, 175, 145, 0.2) 0%, rgba(242, 242, 242, 0) 100%);
}

.conquista.popular {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 207, 87, 0.2)), to(rgba(242, 242, 242, 0)));
  background: linear-gradient(-180deg, rgba(255, 207, 87, 0.2) 0%, rgba(242, 242, 242, 0) 100%);
}

.conquista.psyc {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(109, 117, 255, 0.2)), to(rgba(242, 242, 242, 0)));
  background: linear-gradient(-180deg, rgba(109, 117, 255, 0.2) 0%, rgba(242, 242, 242, 0) 100%);
}

.conquista figure {
  margin: 0 auto 24px auto;
  width: 52px;
}

.conquista figure img {
  width: 100%;
}

.conquista h3 {
  text-align: center;
  font: 500 16px/1 "Poppins", sans-serif;
}

.conquista p {
  text-align: center;
  font: 300 12px/1.3 "Poppins", sans-serif;
  opacity: .5;
  margin: 10px 0 32px 0;
}

.conquista button {
  padding: 16px;
  font: 500 12px/1 "Poppins", sans-serif;
  background: #FFFFFF;
  border: unset;
  text-align: center;
  width: 100%;
  display: block;
  border-radius: 1000px;
}

.card-seguidor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-seguidor:not(:last-child) {
  margin: 0 0 16px 0;
}

.card-seguidor > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-seguidor figure {
  margin: 0 16px 0 0;
  width: 56px;
  height: 56px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-seguidor figure img {
  width: 100%;
}

.card-seguidor div h3 {
  font: 400 15px/1.2 "Open sans", sans-serif;
  margin: 0 0 6px 0;
}

.card-seguidor div h5 {
  color: #858997;
  font: 400 13px/1 "Open sans", sans-serif;
}

.card-seguidor > img {
  width: 43px;
}

.modal-preview-post {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  top: 0;
  left: 0;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.64);
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0 40px 0;
}

.modal-preview-post h6 {
  text-align: center;
  color: #FFFFFF;
  margin: 0 0 24px 0;
}

.card-notificacao {
  margin: 32px 0 0 0;
  background: #FFFFFF;
  -webkit-box-shadow: 0 10px 32px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 32px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 32px 24px;
}

.card-notificacao__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 20px 0;
}

.card-notificacao__header button {
  border: unset;
  background: unset;
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
}

.card-notificacao__content p {
  font: 500 15px/1.5 "Open sans", sans-serif;
  margin: 0 0 24px 0;
}

.card-notificacao__content button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: unset;
  border: unset;
  padding: 0;
  margin: 0;
}

.card-notificacao__content button i {
  color: #F64000;
  margin: 0 6px 0 0;
}

.card-notificacao__content button span {
  font: 500 15px/1 "Open sans", sans-serif;
}

.destaque-produto {
  position: relative;
  height: 180px;
}

.destaque-produto:nth-child(odd) aside {
  right: 20px;
}

.destaque-produto:nth-child(even) aside {
  left: 20px;
}

.destaque-produto:not(:last-child) {
  margin: 0 0 16px 0;
}

.destaque-produto figure {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.destaque-produto figure img {
  width: 100%;
}

.destaque-produto aside {
  max-width: 240px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.destaque-produto aside h2 {
  font: 700 18px/1.3 "Open sans", sans-serif;
  color: #FFFFFF;
  margin: 0 0 4px 0;
}

.destaque-produto aside p {
  margin: 0 0 6px 0;
  font: 400 11px/1.4 "Open sans", sans-serif;
  color: #FFFFFF;
}

.destaque-produto aside .actions-bar span {
  color: #FFFFFF;
}

.title-sec {
  padding: 0 0 12px 0;
  margin: 0 0 24px 0;
  font: 500 18px/1.2 "Poppins", sans-serif;
  border-bottom: 1px solid #ECEDE7;
  position: relative;
}

.title-sec::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 56px;
  height: 2px;
  background: #DCD222;
}

.card-categoria {
  width: 205px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.card-categoria:not(:last-child) {
  margin: 0 28px 0 0;
}

.card-categoria figure {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 160px;
  background: #EBEBEB;
  margin: 0 0 16px 0;
}

.card-categoria figure img {
  width: 100%;
}

.card-categoria figure div {
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 1000px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.card-categoria h4 {
  font: 600 17px/1.2 "Open sans", sans-serif;
  margin: 0 0 4px 0;
}

.card-categoria p {
  margin: 0;
  font: 300 14px/1.4 "Open sans", sans-serif;
}

.header-vertical {
  margin: 0 0 24px 0;
}

.header-vertical > figure {
  margin: 0;
  height: 152px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.header-vertical > figure img {
  width: 100%;
}

.header-vertical .container {
  margin: -56px 0 0 0;
}

.header-vertical .container aside:first-of-type {
  width: 100%;
}

.header-vertical .container aside figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  border-radius: 1000px;
  width: 112px;
  height: 112px;
  margin: 0 auto 12px auto;
  border: 2px solid #EFEFEF;
}

.header-vertical .container aside figure img {
  width: 100%;
}

.header-vertical .container aside h1 {
  font: 800 20px/1 "Open sans", sans-serif;
  text-align: center;
}

.header-vertical .container aside h4 {
  font: 400 15px/1 "Open sans", sans-serif;
  opacity: .32;
  text-align: center;
}

.header-vertical .container aside p {
  text-align: center;
  margin: 12px 0 0 0;
  font: 300 12px/1.5 "Open sans", sans-serif;
}

.header-vertical .container aside button {
  margin: 16px auto 0 auto;
  display: block;
  padding: 9px 28px;
  border: 1px solid #363636;
  color: #363636;
  border-radius: 1000px;
  background: unset;
  font: 600 12px/1 "Poppins", sans-serif;
}

.header-horizontal {
  margin: 0 0 -20px 0;
}

.header-horizontal > figure {
  margin: 0;
}

.header-horizontal > figure img {
  width: 100%;
}

.header-horizontal .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header-horizontal .container aside:first-of-type {
  width: 100%;
  -webkit-transform: translateY(-48px);
          transform: translateY(-48px);
}

.header-horizontal .container aside figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  border-radius: 1000px;
  width: 96px;
  height: 96px;
  margin: 0 0 12px 0;
}

.header-horizontal .container aside figure img {
  width: 100%;
}

.header-horizontal .container aside h1 {
  font: 800 20px/1 "Open sans", sans-serif;
}

.header-horizontal .container aside h4 {
  font: 400 15px/1 "Open sans", sans-serif;
  opacity: .32;
}

.header-horizontal .container aside p {
  margin: 12px 0 0 0;
  font: 300 12px/1.5 "Open sans", sans-serif;
}

.header-horizontal .container aside button {
  margin: 20px 0 0 0;
  padding: 9px 28px;
  border: 1px solid #363636;
  color: #363636;
  border-radius: 1000px;
  background: unset;
  font: 600 12px/1 "Poppins", sans-serif;
}

.busca {
  position: relative;
  margin: 0 0 24px 0;
}

.busca input {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000000;
  border: unset;
  font: 400 14px/1 "Open sans", sans-serif;
  border-radius: 6px;
  background: #FFFFFF;
  padding: 14px 18px;
}

.busca input::-webkit-input-placeholder {
  opacity: .6;
}

.busca input:-ms-input-placeholder {
  opacity: .6;
}

.busca input::-ms-input-placeholder {
  opacity: .6;
}

.busca input::placeholder {
  opacity: .6;
}

.busca button {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 16px;
  background: unset;
  border: unset;
  padding: 0;
}

.busca button img {
  height: 100%;
  width: 100%;
}

.card-discussao {
  border: 1px solid #CCCCCC;
  border-radius: 12px;
  padding: 16px;
}

.card-discussao:not(:last-child) {
  margin: 0 0 24px 0;
}

.card-discussao h3 {
  font: 700 15px/1.4 "Open sans", sans-serif;
  margin: 0 0 6px 0;
}

.card-discussao h6 {
  margin: 0 0 12px 0;
  font: 300 11px/1.4 "Open sans", sans-serif;
}

.card-agenda {
  -webkit-box-shadow: 0 4px 40px rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 40px rgba(0, 0, 0, 0.08);
  padding: 24px;
  border-radius: 12px;
}

.card-agenda:not(:last-child) {
  margin: 0 0 20px 0;
}

.card-agenda h3 {
  font: 700 18px/1.3 "Open sans", sans-serif;
  margin: 0;
}

.card-agenda h5 {
  font: 300 11px/1.6 "Open sans", sans-serif;
  margin: 6px 0 0 0;
}

.card-chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
  border-radius: 6px;
  padding: 12px 18px;
}

.card-chat:not(:last-child) {
  margin: 0 0 16px 0;
}

.card-chat.nova {
  border: 2px solid #B7DB57;
}

.card-chat.nova h6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-chat.visualizada p img {
  display: block !important;
}

.card-chat aside.esq {
  max-width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-chat aside.esq figure {
  max-width: 48px;
  min-width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  border-radius: 1000px;
  margin: 0 12px 0 0;
}

.card-chat aside.esq figure img {
  width: 100%;
}

.card-chat aside.esq div {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 240px;
}

.card-chat aside.esq div h3 {
  font: 700 16px/1 "Open sans", sans-serif;
  margin: 0 0 10px 0;
}

.card-chat aside.esq div p {
  color: #828282;
  font: 400 12px/1 "Open sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.card-chat aside.esq div p img {
  width: 14px;
  height: 10px;
  display: none;
  margin: 0 6px 0 0;
}

.card-chat aside.dir {
  width: 44px;
}

.card-chat aside h4 {
  font: 500 12px/1 "Open sans", sans-serif;
  margin: 0 0 8px 0;
  color: #C0C0C0;
  text-align: right;
}

.card-chat aside h6 {
  text-align: right;
  font: 800 12px/1 "Open sans", sans-serif;
  border-radius: 1000px;
  background: #B7DB57;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  margin: 0 0 0 auto;
  color: #FFFFFF;
}

.btn-chat {
  width: 70px;
  height: 70px;
  position: fixed;
  bottom: 80px;
  right: 16px;
  z-index: 99;
}

.btn-chat img {
  width: 100%;
}

.comentario {
  background: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 9999;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.comentario.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.comentario [data-comentario="close"] {
  display: block;
  border: unset;
  position: absolute;
  top: 16px;
  left: 16px;
  background: unset;
}

.comentario [data-comentario="close"] i {
  opacity: .2;
  font-size: 26px;
  color: #363636;
}

.comentario__lista {
  margin: 72px 0 0 0;
  padding: 0 16px 216px 16px;
  list-style: none;
  overflow-y: auto;
  height: 100%;
}

.comentario__lista__item:not(:last-child) {
  margin: 0 0 16px 0;
}

.comentario__lista__item__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.comentario__lista__item__top figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  border-radius: 1000px;
  max-width: 48px;
  min-width: 48px;
  height: 48px;
  margin: 14px 20px 0 0;
}

.comentario__lista__item__top figure img {
  width: 100%;
}

.comentario__lista__item__top div {
  width: 100%;
  background: #f5f5f7;
  padding: 12px 16px;
  border-radius: 12px;
}

.comentario__lista__item__top div a {
  font-weight: 600;
  display: block;
  font-size: 13px;
  margin: 0 0 6px 0;
}

.comentario__lista__item__top div p {
  margin: 0;
  font: 12px/1.4 "Open sans", sans-serif;
}

.comentario__lista__item__footer {
  margin: 4px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.comentario__lista__item__footer h5 {
  margin: 0 10px 0 0;
  text-align: right;
  font: 400 11px/1 "Open sans", sans-serif;
}

.comentario__lista__item__footer button {
  border: unset;
  background: unset;
}

.comentario__camp-texto {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
  padding: 16px;
}

.comentario__camp-texto fieldset {
  position: relative;
}

.comentario__camp-texto fieldset textarea {
  height: 88px;
  width: 100%;
  padding: 10px 56px 0 12px;
  display: block;
  resize: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 13px;
  font-weight: 500;
}

.comentario__camp-texto fieldset button {
  position: absolute;
  bottom: 8px;
  right: 8px;
  border: unset;
  background: unset;
}

.comentario__camp-texto fieldset button i {
  font-size: 26px;
  padding: 0;
  color: #DCD222;
}

.stories-container {
  padding: 0 0 0 20px;
  overflow-x: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 0 0 32px 0;
}

.stories-container::-webkit-scrollbar {
  display: none;
}

.stories-container li {
  border: unset;
  background: unset;
  padding: 0;
  width: 70px;
  margin: 0 14px 0 0;
}

.stories-container li.active figure {
  border-color: #0091EB;
}

.stories-container li figure {
  position: relative;
  margin: 0 auto 6px auto;
  width: 100%;
  height: 70px;
  border: 2px solid #dfdfdf;
  border-radius: 1000px;
  padding: 3px;
}

.stories-container li figure div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1000px;
  overflow: hidden;
  position: relative;
  z-index: 9;
}

.stories-container li figure div img {
  width: 100%;
  margin: 0;
}

.stories-container li span {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  text-align: center;
  font-size: 11px;
}

.stories-itens {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 99999;
  opacity: 0;
  background: #363636;
  visibility: hidden;
}

.stories-itens.open {
  opacity: 1;
  visibility: visible;
}

.stories-itens li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  opacity: 0;
  visibility: hidden;
}

.stories-itens li.open {
  opacity: 1;
  visibility: visible;
}

.stories-itens li.open .line span {
  display: block;
}

.stories-itens li .line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: unset;
  background: rgba(255, 255, 255, 0.2);
  z-index: 5;
}

.stories-itens li .line span {
  display: none;
  -webkit-transition: linear;
  transition: linear;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #FFFFFF;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-animation: lineAnimation 2s forwards linear;
          animation: lineAnimation 2s forwards linear;
}

.stories-itens li .bg {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  background: #363636;
}

.stories-itens li .bg img {
  width: 100%;
  height: auto;
}

.stories-itens li .rodape {
  max-width: 240px;
  width: 100%;
  position: absolute;
  left: 40px;
  bottom: 40px;
  z-index: 5;
}

.stories-itens li .rodape h3 {
  color: #FFFFFF;
  font: 700 22px/25px "Open sans", sans-serif;
}

.stories-itens li .rodape p {
  color: #FFFFFF;
  margin: 8px 0 4px 0;
  font: 400 11px/1.5 "Open sans", sans-serif;
}

.stories-itens li .rodape .actions-bar {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.stories-itens li .rodape .actions-bar span {
  color: #FFFFFF;
}

.stories-itens .close-stories {
  position: absolute;
  top: 24px;
  right: 16px;
  padding: 0;
  background: unset;
  border: unset;
  position: absolute;
  z-index: 99;
}

.stories-itens .next,
.stories-itens .prev {
  position: absolute;
  z-index: 9;
  top: 0;
  height: 100%;
  width: 28px;
  background: unset;
  padding: 0;
  border: unset;
}

.stories-itens .next {
  right: 0;
}

.stories-itens .prev {
  left: 0;
}
/*# sourceMappingURL=main.css.map */