.artigo {
    &__header {
        box-shadow: 0 6px 6px rgba(0, 0, 0, .08);
        padding: 0 0 32px 0;
        h1 {
            margin: 12px 0 0 0;
            font: 600 19px/1.4 $openSans;
            color: #464657;
        }
    }
    &__content {
        font-size: 1rem;
        &.plus {
            p {
                font-size: 1.3rem;
            }
        }
        .actions-bar {
            margin: 32px 0;
        }
        p {
            font: 300 .8em/1.4 $openSans;
            &:not(:last-child) {
                margin: 0 0 16px 0;
            }
        }
    }
    .audio-player {
        margin: 32px 0 0 0;
    }
}